.detail-block-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;

  &:last-child {
    border: 0;
    padding-bottom: 0;
  }

  div {
    padding-left: 1rem;

    &:last-child {
      float: right;
    }

    span {
      font-size: 0.75rem;
    }

    ul {
      margin: 0;
      list-style: none;
      padding: 0;

      .requirement-list-item:before {
        content: "- ";
        text-indent: -5px;
      }
    }
  }
}
